PORT=3000
NODE_ENV=development

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=secret_bot_key

OPENAI_API_KEY=

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=telegram_bot

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

DB_PATH=./data/portfolio.db
